body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(241, 236, 236);
}
body a{
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    /* border-bottom: 1px solid ; */
}
.navbar h2 a{
    color: black;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.navbar ul a {
    color: black;
}
.navbar ul a:hover {
    color: #555;
    cursor: cell;
}
.navbar h2 a:hover {
    cursor: cell;
}

/* SIGN UP */
.container {
    min-height: calc(100vh - 70px); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#signup_form {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
#signup_form div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    position: relative;
}
#signup_form label {
    display: flex;
    align-items: center;
}
#signup_form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
#signup_form input:hover{
    border-color: rgba(61, 57, 57, 0.479);
}
#signup_form input:focus {
    border-color: #333;
}
.signup_success{ 
    color: rgb(31, 187, 31); 
    font-size: 1rem; 
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 5px;
}
form h2{
    text-align: center;
    font-size: 2rem;
}
button{
    border: 1px solid;
    border-radius: 6px;
    padding: 3px;
    margin-top: 20px;
    font: inherit;
    font-size: 0.9rem;
}
button:hover{
    cursor: pointer;
}
section p{
    font-size: 0.8rem;
}
.error_message{
    color: rgba(241, 42, 7, 0.959);
    font-size: 0.73rem;
}
form p a{
    text-decoration: underline;
}
footer{
    background-color: rgb(252, 250, 250);
    margin-bottom: 10px;
    font-size: 0.8rem;
    position: fixed; 
     bottom: 0;
     text-align: center;
    margin-left: 40px;
 }

/* Login */
#login_form {
    width: 100%;
    max-width: 380px;
    padding: 25px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
#login_form div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    position: relative;
}
#login_form label {
    display: flex;
    align-items: center;
}
#login_form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}
#login_form input:hover{
    border-color: rgba(61, 57, 57, 0.479);
}
#login_form input:focus {
    border-color: #333;
}
#login_success{
    color: rgb(31, 187, 31); 
    font-size: 1rem; 
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 5px;
}
/* Home */
.title{
    display: flex;
    justify-content: end;
    align-items: center;
    margin:0 30px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
}
.title div .lost{
    background-color:rgba(241, 42, 7, 0.959);
    margin-right: 10px;
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px;
    border-radius: 10px;
}
.title div .found{
    background-color: rgb(31, 187, 31);
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px;
    border-radius: 10px;
}
.actions{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    background-color: #ffffff;
    padding: 15px;
    width: 95%;
    margin: 30px auto;
    border-radius: 10px;
}
.actions input{
    border-radius: 8px;
    border: 1px solid #555;
    padding: 12px;
    width: 98%;
}
.actions button{
    border: none;
    margin-bottom: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.actions button:hover{
    background-color: #dbd7d7;
}
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
}
.dropdown{
    list-style: none;
    padding: 0;
}
.dropdown_toggle{
    position: relative;
    border: 1px solid #555;
    border-radius: 8px;
    width: 100%;
}
.dropdown a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}
.dropdown_menu{
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 8px;
    list-style: none;
}
.dropdown_menu li a:hover{
    background-color: #f5f5;
}

/* RESPONSIVE */
@media  (max-width:480px) {
    #signup_form{
        padding: 15px;
        width: 300px;
        margin-top: -100px;
    }
    #signup_form h2{
        font-size: 20px;
    }
    .navbar{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}